# 최상위 root 파일임을 명시
root = true

# 모든 파일에 적용되는 기본 세팅
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# 마크다운 파일 전용 세팅
[*.md]
indent_size = 4
trim_trailing_whitespace = false

# C# 소스코드 스타일 규격
[*.cs]
# 메서드나 클래스 선언 시 중괄호{ }를 새 줄에서 시작하도록 강제 (Allman 스타일)
csharp_new_line_before_open_brace = all_types, methods, properties
# var 키워드 사용 권장 (코드가 깔끔해짐)
csharp_style_var_for_built_in_types = true:suggestion
